#board {
   position: fixed;
   top: 0; right: 0; left: 0; bottom: 0;
   background-color: powderblue;
   display: none;
   grid-template-columns: repeat(20, 1fr);
   grid-template-rows: repeat(20, 1fr);
}

#start-container {
   position: fixed;
   height: 100%;
   width: 100%;
   text-align: center;
   background-color: darkblue;
}

#start {
   margin-top: 80px;
   text-align:center;
}

#start-image {
   margin-top: 25px;
   text-align: center;
   height: 50%;
   width: 50%;
}

#score {
   margin-top: 20px;
   margin-left: auto;
   margin-right: auto;
   height: 40px;
   text-align:center;
   color: white;
}

#message-wrapper {
   text-align: center;
}

#message {  
   display:inline-block;
   width: 500px;
   text-align: center;
   margin: auto;
   color: white;
}

#start-button {
   margin: auto;
   text-align: center;
   background-color: red;
}

.head {
   height: 4vh;
   width: 4vw;
   background-color: yellowgreen;
}


.bodyPart {
   height: 4vh;
   width: 3vw;
   background-color: darkgreen;
}

#apple {
   width: 4vw;
   height: 4vh;
   background-color: darkred;
}

#scoreBoard {
   grid-row: 1 / 2;
   grid-column: 9 / 12;
   text-align: center;
   color: darkred;
}

#edgeTopLeft {
   grid-row: 1 / 2;
   grid-column: 1 / 9;
   background-color: navy;
}

#edgeTopRight {
   grid-row: 1 / 2;
   grid-column: 12 / 20;
   background-color: navy;
}

#edgeBottom {
   grid-row: 20;
   grid-column: 1 / 20;
   background-color: navy;
}

#edgeLeft {
   grid-row: 1 / 20;
   grid-column: 1 / 2;
   background-color: navy;
}

#edgeRight {
   grid-column: 20;
   grid-row: 1 / 21;
   background-color: navy;
}